@model SehirRehberiApp.Models.ViewModels.ExtraImageViewModel
@{
    ViewBag.Title = "AddExtraImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="margin-top:40px; color:darkolivegreen">
    @using (Html.BeginForm("AddExtraImage", "Post", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <h3 class="display-4">@Model.ExtraPostName</h3>

        <h4>Paylaşımınıza Fotoğraf Ekleyin&nbsp;</h4>

        <input type="file" class="btn btn-outline-success" name="images" accept="image/*" multiple />

        <input type="submit" class="btn btn-lg btn-outline-success" value="Paylaş !" />
        <a type="submit" href="@Url.RouteUrl("FirstPage")" class="btn btn-lg btn-outline-danger">İptal</a>
    }



</div>

