@{
    ViewBag.Title = "PostNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewPost</h2>


<div class="form-group">
    <label>İller</label>
    <select class="form-control" name="iller" id="il"></select>
</div>
<div class="form-group">
    <label>İlçeler</label>
    <select class="form-control" name="ilceler" id="ilce" disabled>
        <option>Bir İl Seçiniz</option>
    </select>
</div>