
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h4 class="display-4">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</h4>
<form action="/Login" class="needs-validation" novalidate method="post">
    <div class="row">
        <div class="col-md-7">

            <input type="text" class="form-control" name="Use rName" placeholder="Kullanıcı Adı" required />
            <div class="invalid-feedback">
                Lütfen Kullanıcı Adınızı Giriniz.
            </div>
            <br />
            <input type="password" class="form-control" name="Password" placeholder="Parola" required />
            <div class="invalid-feedback">
                Lütfen Parolanızı Giriniz.
            </div>
            <br />
            <button type="submit" class="btn btn-outline-success">Giriş Yap</button>
        </div>
        <div class="col-md-4">
            <img width="300" height="200" src="~/Content/modalphoto.png" alt="Alternate Text" />
        </div>
        
    </div>
        

</form>

