


@{
    ViewBag.Title = "Home Page";
}

    <br /><br />
       
          <div>
              <div class="container" id="section1" style="font-family:'Birds of Paradise  Personal use';background-color:rgba(88, 165, 106, 0.1)">
                  <br /><br />
                  <div class="row">
                      <div class="col-md-7" style="font-size:50px;color:darkolivegreen">
                          Şehrin güzelliklerini keşfet!
                          Kimsenin bilmedigi yerleri paylaş!
                          <center>
                              <button class="button-two" data-target=".register" data-toggle="modal"><span style="color: white;">Kayıt Ol!</span></button>
                          </center>
                      </div>
                      <div class="col-md-4"><img class="img-fluid" src="~/Content/sehirehberi.png" alt="Alternate Text" /></div>
                  </div>

                  <br /><br /><br />
              </div>
           
          

          </div>

