


@{
    ViewBag.Title = "Home Page";
}

    <br /><br />
       
          <div>
              <div class="container" id="section1" style="font-family:'Birds of Paradise  Personal use';background-color:rgba(88, 165, 106, 0.1)">
                  <br /><br />
                  <div class="row">
                      <div class="col-md-7" style="font-size:50px;color:darkolivegreen">
                          Şehrin güzelliklerini keşfet!
                          Kimsenin bilmedigi yerleri paylaş!
                          <center>Keşfet <a href="#section2" style="color:forestgreen;"><i class="fas fa-share-square"></i></a></center>
                      </div>
                      <div class="col-md-4"><img class="img-fluid" src="~/Content/sehirehberi.png" alt="Alternate Text" /></div>
                  </div>

                  <br /><br /><br />
              </div>
              @*<div class="container">
                  <img src="~/Content/katman 1.png" alt="Alternate Text" width="1000"/>
              </div>*@
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <div>
                  <br /><br />
                  <div class="blank" id="section2"></div>
                  <br />
                  <br />

                  <div class="container" style="font-family:'Birds of Paradise  Personal use';">
                      <div class="row">
                          <div class="col-md-6">
                              <img class="img-fluid" src="~/Content/world.png" alt="world" />
                          </div>
                          <div class="col-md-6" style="margin-top:55px !important; font-size:50px;color:darkolivegreen">

                              Yakınındaki en güzel yerleri keşfet! <a href="#section3" style="color:forestgreen; "><i class="fas fa-share-square"></i></a>
                              <button class="button-two" data-target=".register" data-toggle="modal"><span style="color: white;">Kayıt Ol!</span></button>

                          </div>

                      </div>


                      @*<a href="#section1" style="color:white; "><i class="fas fa-share-square"></i></a>*@
                  </div>
              </div>

              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <div>

                  <div class="blank" id="section3"></div>
                  <br />
                  <br />

                  <div class="container" style="font-family:'Birds of Paradise  Personal use';">
                      <div class="row">
                          <div class="col-md-6">
                              <img class="img-fluid" src="~/Content/worldsearch.png" alt="world" />
                          </div>

                          <div class="col-md-6" style="font-size:50px;color:darkolivegreen">
                              Sakin bir yerler mi lazım ? Şehrinde paylaşılan yerlere bak!
                              <center><button class="button-two" data-target=".register" data-toggle="modal"><span style="color: white;  margin-bottom:10px !important;">Kayıt Ol!</span></button> <a href="#section0" style="color:forestgreen; "><i class="fas fa-sort-amount-up-alt"></i></a></center>
                          </div>

                      </div>
                  </div>

                  <br />
                  <br />
                  <br />
                  <br />
              </div>
              <br />
              <br />
              <br />
              <br />

          </div>

