.button-navbar {
    border-radius: 4px;
    background-color: transparent;
    border: none;
    padding: 20px;
    width: 140px;
    transition: all 0.5s;
}


    .button-navbar span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button-navbar span:after {
            content: '»';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button-navbar:hover span {
        padding-right: 25px;
    }

        .button-navbar:hover span:after {
            opacity: 1;
            right: 0;
        }
