


/*Button Two*/
.button-two {
    border-radius: 4px;
    background-color:rgba(53, 108, 11, 0.79);
    border: none;
   
    width: 250px;
  
    transition: all 0.5s;
}


    .button-two span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button-two span:after {
            content: '»';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button-two:hover span {
        padding-right: 25px;
    }

        .button-two:hover span:after {
            opacity: 1;
            right: 0;
        }
